.nav-container{
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
}
.nav-title{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 10vw;
    line-height: 189px;
    letter-spacing: -0.05em;
    color: #E66E6E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    margin-left: 0vw;
}
.nav-navlist-container{
    width: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 4vw;
    margin-left: 5vw;
    justify-content: space-around;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 2.5vw;
    line-height: 38px;
    background-color: transparent;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-navlist-container{
    text-decoration: none;
}
.nav-navlist-link {
    color: white;
    background-color: transparent;
    margin-left: 5vw;
}
.nav-navlist-link:hover{
    color: yellow;
    cursor: pointer;
}