.home-container {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.home-claims-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 4.5vh;
}
.home-icon{
  height: 25vw;
}
shadow{
  text-shadow: 1px 1px 5px 1px rgba(146, 145, 145, 0.445);
}
.home-claims {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 50px;
  /* z-index: 10; */
}
.home-claims > h1, h2, h3 {
  font-family: 'Outfit';
    font-style: normal;
    color: black;
}
.home-claims-first-line{
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: baseline;
  justify-content: flex-start;
}
#logo{
      font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.05em;
        color: #E66E6E;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        margin-left: 5px;
}