.loader-container{
    min-height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loader-image{
    width: 15vw;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 0.6;
}
.loader-image-container{
    width: 15vw;
    height: 15vw;

}
.loader-text{
    margin-top: 5vh;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 5vh;
    letter-spacing: -0.05em;
    opacity: 0.6;
}

@keyframes move {
    0%{
        transform: scale(0.75)
    }
    100%{
        transform: scale(1)
    }
}