.login-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 70vh;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 50vh; */
}
.login > input {
    width: 970px;
    height: 70px;
    background: #FFFFFF;
    border: 0.25px solid #000000;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.05em;
    color: #272626
}
.login > label {
    text-align: center;
}
.login-button {
    width: 190px;
    height: 70px;
    background: #E56E6E;
    border: 0.5px solid #FFFFFF;
    border-radius: 10px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.05em;
    margin-bottom: 20px;
}
.login-button:hover {
    background: #FFFFFF;
    border: 0.5px solid #E56E6E;
    color: #E56E6E
    
}
.login-container > h2, .login-register-link {
    margin: auto;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.05em;
    color: black;
    margin-top: 20px;
}
.login> p {
    margin: auto;
    font-size: 15px;
}
.login-register-link:hover{
    color: yellow
}