.moviesearch-container{
    width: 100vw;
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 30px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.moviesearch-container > h3 {
    font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.05em;
        color: black;
}