.movie-details-container{
    margin: 20px;
    display: flex;
}
.movie-details-poster-container{
    height: 600px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie-details-poster-container > img {
    max-height: 600px;
    border-radius: 15px;
}
.movie-details-data-container{
    margin-left: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 50px;
}
.movie-details-data-title-container{
    width: 900px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
}
.movie-details-data-title-container>h1{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    color: black;
}
.movie-details-data-title-container > p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    color: black;
    font-size: 20px;
}
h4{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    color: black;
    font-size: 20px;
    margin-bottom: 5px;
}
.movie-details-data-buttons-container{
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
hr{
    margin-bottom: 5px;
}
.movie-details-data-crew-container,
.movie-details-data-overview-container,
.movie-details-data-cast-container  {
    margin-top: 15px;
    padding-right: 20px;
}
.movie-details-data-overview-container > p {
    margin-left: 5px;
        font-size: 12px;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
    
        color: black;
        font-size: 15px;
}
.cast-container, .crew-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.crew-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cast-container > p, .crew-container > p {
    margin-right: 3px;
}
.member-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
}
#job{
    margin-left: 5px;
    font-size: 12px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    color: black;
    font-size: 15px;
}
#name:hover{
    color: #E56E6E;
    text-decoration: underline;
}
#name{
    margin-left: 5px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    color: black;
    font-size: 20px;
}
.movie-searched-button-watchlist {
    width: 250px;
    height: 42px;
    background: #FFFFFF;
    border: 0.25px solid #272626;
    border-radius: 5px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
    color: #272626;
    margin-right: 20px;
    cursor: pointer;
}

.movie-searched-button-watchlist:hover {
    background: #272626;
    color: white;
    border: 0.25px solid white;
}

.movie-searched-button-watched {
    width: 250px;
    height: 42px;
    background: #E56E6E;
    border: 0.25px solid #FFFFFF;
    border-radius: 5px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    cursor: pointer;

}

.movie-searched-button-watched:hover {
    background: white;
    color: #E56E6E;
    border: 0.25px solid #E56E6E;
}
a {
    text-decoration: none;
}