.moviesearcher-container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-top: 20px;
    
}
.moviesearcher-container > input {
    width: 970px;
    height: 70px;
    background: #FFFFFF;
    border: 0.25px solid #000000;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 0px;
    padding: 20px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.05em;
    color: #272626
}
.moviesearcher-container > button {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.05em;
    color: white;
    cursor: pointer;
}
.moviesearcher-search-button {
    margin-right: 5px;
    width: 190px;
    height: 70px;
    left: 1158px;
    top: 314px;
    background: #E56E6E;
    border: 0.25px solid #FFFFFF;
    border-radius: 10px;
}
.moviesearcher-search-button:hover {
    background: white;
    color: #E56E6E;
    border: 0.25px solid #E56E6E;
}
.moviesearcher-refresh-button {
    margin-right: 5px;
    width: 190px;
    height: 70px;
    left: 1367px;
    top: 314px;
    background: #272626;
    border: 0.25px solid #FFFFFF;
    border-radius: 10px;
}
.moviesearcher-refresh-button:hover {
    background: white;
    color: #272626;
    border: 0.25px solid #272626;
}
.moviesearcher-error{
    width: 100vw;
    text-align: center;
    color: grey;
    opacity: 70%;
    margin-top: 50px;
}
.loader{
    width: 100vw;
    text-align: center;
    color: grey;
    opacity: 70%;
    margin-top: 50px;
}