.movie-searched-container{
    width: 450px;
    height: 600px;
    box-shadow: 2px 2px 50px 1px rgba(146, 145, 145, 0.445);
    margin-bottom: 20px;
    border-radius: 15px;
}
.movie-seached-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    margin-top: 350px;
    width: 450px;
    height: 250px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -4.49%, rgba(0, 0, 0, 0.537181) 12.94%, rgba(0, 0, 0, 0.99) 84.68%);
}
.movie-seached-details > h2{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    color: white;
}
.movie-searched-button-watchlist{
    width: 100%;
    height: 42px;
    background: #FFFFFF;
    border: 0.25px solid #272626;
    border-radius: 10px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
    color: #272626;
    margin-right: 20px;
    cursor: pointer;
}
.movie-searched-button-watchlist:hover{
    background: #272626;
    color: white;
    border: 0.25px solid white;
}
.movie-searched-button-watched{
    width: 100%;
    height: 42px;
    background: #E56E6E;
    border: 0.25px solid #FFFFFF;
    border-radius: 10px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    cursor: pointer;
   
}
.movie-searched-button-watched:hover {
    background: white;
    color: #E56E6E;
    border: 0.25px solid #E56E6E;
}
.movie-searched-moredetails{
    width: 420px;
    height: 42px;
    left: 158px;
    top: 993px;
    background: #272626;
    border: 0.25px solid #FFFFFF;
    border-radius: 10px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    cursor: pointer;
}
.movie-searched-moredetails:hover{
    background: white;
    color: #272626;
    border: 0.25px solid #272626;
}
.movie-searched-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}