.person-details-movies{
    display: flexbox;
    justify-content: center;
}
.person-details-movies-container{
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.person-details{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    background-color: white;
    border-radius: 10px;;
}
.person-details-picture{
    max-height: 300px;
    margin-right: 20px;
    border-radius: 10px;
}
.person-details-data{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
}
.person-details-movies{
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}
.person-details-movies-header{
    padding: 10px;
    text-align: center;
}
.person-details-movies-title{
    font-weight: bold;
    color: black;
    text-decoration:underline;
}
.person-details-movies-actor-container{
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.person-details-movies-actor-container > h3 {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.person-details-movies-crew-container{
    padding: 20px;
        width: 50%;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        margin-left: 10px;
    
}
.person-details-movies-crew-container > h3 {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.person-details-mappedmovie{
    margin-bottom: 5px;
    margin-left: 20px;
}
.person-details-mappedmovie > p {
    font-size: 15px;
    margin-left: 10px;
}
.person-details-movies-actor-container > hr{
    width: 100%;
    margin-bottom: 20px;
}
.person-details-movies-crew-container>hr {
    width: 100%;
    margin-bottom: 20px;
}