.user-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    margin-bottom: 40px;
    min-height: 80vh;
}
.user-form-container{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    margin-bottom: 2vw;
    margin-top: 5vh;
}
.user-profile-form-fields, .user-password-form-fields{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
    margin-bottom: 1.5vh;
}
.user-profile-form-container, .user-password-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
}
.user-profile-form-container{
    margin-right: 1.5vw;
}
.user-profile-form-container-field, .user-password-form-container-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.user-profile-form-container-field>label, .user-password-form-container-field>label{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    letter-spacing: -0.05em;
    color: black;
    margin-bottom: 1vh;
    min-width: 10.5vw;
    text-align: right;
    margin-right: 1vw;

}
.user-form-title{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 4.5vh;
    letter-spacing: -0.05em;
    color: black;
    margin-bottom: 2vh;
}
.user-password-form-container-field > input, .user-profile-form-container-field > input {
    width: 25vw;
    min-width: 130px;
    height: 5vh;
    background: #FFFFFF;
    border: 0.25px solid #000000;
    border-radius: 10px;
    margin-bottom: 2vw;
    padding-left: 2vw;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 2vh;
    line-height: 38px;
    letter-spacing: -0.05em;
    color: #272626;
}
.user-profile-form-password-submit, .user-form-password-submit{
    width: 15vw;
    min-width: 250px;
    height: 4.5vh;
    background: #E56E6E;
    border: 0.5px solid #FFFFFF;
    border-radius: 10px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 2vh;
    line-height: 38px;
    letter-spacing: -0.05em;
    color: white;
    cursor: pointer;
}
.user-profile-form-password-submit:hover, .user-form-password-submit:hover{
    background: white;
    border: 0.5px solid #E56E6E;
    color: #E56E6E;
}
.user-profile-response{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -0.05em;
    color: red;
}
.user-form-password-error{
    width: 15vw;
    min-width: 250px;
    height: 4.5vh;
    text-align: center;
    border: solid 0.5px grey;
    background-color: transparent;
    color: grey;
    padding: 0.25vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: 10px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vh;
}