.usermenu-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-right: 40px;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
}
.usermenu-logout, .usermenu-editprofile {
    width: 15vh;
    min-width: 100px;
    font-family: 'Outfit';
    font-style: normal;
    font-size: calc(8px + 1vh);
    line-height: calc(8px + 1vh);
    letter-spacing:-0.05em;
    color: black;
    margin-left: 1.5vw;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.usermenu-user{
    width: 15vw;
    text-align: end;
    margin-right: 1.5vw;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: calc(10px + 1.2vh);
    line-height: calc(10px + 1.2vh);
    letter-spacing: -0.05em;
    color: black;
    border: none;
}
.usermenu-profilepic{
    width: 10vh;
    height: 10vh;
    margin-bottom: 5.5vh;
    object-fit: cover;
    border-radius: 50%;
    overflow: visible;
    margin-left: 2vw;
    border: 0.25px solid #272626
}
.usermenu-container>button:hover, .usermenu-editprofile:hover{
    color: yellow
}