.user-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 40px;
    min-height: 70vh;
}
.user-form-container{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    margin-bottom: 20px;
}
.user-profile-form-container, .user-password-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-profile-form-container{
    margin-right: 30px;
}
.user-profile-form-container-field, .user-password-form-container-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.user-profile-form-container-field>label, .user-password-form-container-field>label{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: -0.05em;
    color: black;
    margin-bottom: 10px;
}
.user-form-title{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    letter-spacing: -0.05em;
    color: black;
    margin-bottom: 20px;
}
.user-password-form-container-field > input, .user-profile-form-container-field > input {
    width: 670px;
    height: 50px;
    background: #FFFFFF;
    border: 0.25px solid #000000;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    letter-spacing: -0.05em;
    color: #272626
}
.user-profile-form-password-submit, .user-form-password-submit{
    width: 290px;
    height: 70px;
    background: #E56E6E;
    border: 0.5px solid #FFFFFF;
    border-radius: 10px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.05em;
    color: white;
}
.user-profile-response{
font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -0.05em;
    color: red;
}