.watched-empty-container {
    width: 100vw;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.watched-empty-container>h1 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 5.5vh;
    line-height: 5.5vh;
    letter-spacing: -0.05em;
    color: rgb(23, 23, 23);
    margin-top: 2vh;
    opacity: 0.6;
}
.watched-empty-icon {
    opacity: 0.6;
    width: 15vw;
    height: 15vw;
}
.watched-title-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.05em;
    color: rgb(23, 23, 23);
    margin-top: 20px;
}

.watched-movies-container {
    width: 100vw;
    min-height: 65vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 20px;
}